<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/AvizierMB" version="0.2.1" viewmodes="maximized">
    <tizen:application id="A6HwzsaYnL.AvizierMB" package="A6HwzsaYnL" required_version="2.3"/>
    <content src="index.html"/>
     <access origin="https://mariananghel05.github.io" subdomains="true"></access>
    <access origin="*" subdomains="true"></access>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <feature name="http://tizen.org/feature/network.ethernet"/>
    <feature name="http://tizen.org/feature/network.internet"/>
    <feature name="http://tizen.org/feature/network.wifi"/>
    <feature name="http://tizen.org/feature/network.wifi.direct"/>
    <feature name="http://tizen.org/feature/screen"/>
    <feature name="http://tizen.org/feature/tv.audio"/>
    <feature name="http://tizen.org/feature/tv.display"/>
    <feature name="http://tizen.org/feature/tv.information"/>
    <feature name="http://tizen.org/feature/tv.inputdevice"/>
    <feature name="http://tizen.org/feature/tv.pip"/>
    <feature name="*"/>
    <icon src="icon.png"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true"/>
    <name>AvizierMB</name>
        <tizen:privilege name='http://tizen.org/privilege/tv.inputdevice'></tizen:privilege> 
    <tizen:privilege name='http://tizen.org/privilege/tv.audio'></tizen:privilege> 
    <tizen:privilege name='http://tizen.org/privilege/tv.display'></tizen:privilege>
    <tizen:privilege name='http://tizen.org/privilege/tv.window'></tizen:privilege>
	<tizen:privilege name='http://tizen.org/privilege/volume.set'></tizen:privilege>
    <tizen:privilege name='http://tizen.org/privilege/websetting'></tizen:privilege> 
    <tizen:privilege name='http://tizen.org/privilege/widget.viewer'></tizen:privilege> 
    <tizen:privilege name='http://tizen.org/privilege/websetting'></tizen:privilege>  
    <tizen:privilege name='http://tizen.org/privilege/fullscreen'></tizen:privilege> 
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
